[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
"qqwry-py3" = "*"
flask = "*"
gevent = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
